.vs/PetTracker/CopilotIndices
.vs
PetTracker.Database/PetTracker.Database.dbmdl
PetTracker.Database/PetTracker.Database.jfm
PetTracker.Infrastucture/obj
PetTracker.Infrastucture/bin
PetTracker.Server/obj
PetTracker.Server/bin
PetTracker.SqlDb/bin
PetTracker.SqlDb/obj
PetTracker.Utility/obj
PetTracker.Domain/bin
PetTracker.Domain/obj
PetTracker.Database/PetTracker.Database.dbmdl
PetTracker.Database/PetTracker.Database.jfm
.vs
PetTracker.Database/bin
PetTracker.Database/obj
PetTracker.Utility/bin
PetTracker.UnitTests/bin
PetTracker.UnitTests/obj
PetTracker.UI/obj
