<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://pettrackerserver-f9gsh2ercbbueeh3.scm.westus-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/a28a2ec9-c06e-4dde-afeb-facbaacd3558/resourcegroups/DefaultResourceGroup-WUS/providers/Microsoft.ContainerRegistry/registries/PetTrackerServer</ContainerResourceId>
    <ContainerResourceName>PetTrackerServer</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>pettrackerserver.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a28a2ec9-c06e-4dde-afeb-facbaacd3558/resourcegroups/DefaultResourceGroup-WUS/providers/Microsoft.Web/sites/PetTrackerServer</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pettrackerserver-f9gsh2ercbbueeh3.westus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>60f49846-ace5-4c76-aabd-b4a76241035c</ProjectGuid>
  </PropertyGroup>
</Project>